[2014-10-27 01:27] SamJoan opened #1 "Progressbar shows incorrect number when -n > len(fil)"
Progressbar takes user input and puts it into the loading thing, even
when the -n is larger than the number of plugins/themes available.
Shows a lot w/ default settings when scanning SS themes

[2014-10-27 01:29] SamJoan opened #2 "Issues when auto updating drupal md5sums."
Drupal release scripts generates four files for drupals on the 7.x
branch, versus three that exist for all other versions in the 7.x
branch. This causes tests to fail for good reason, and causes lousy
test results. It should befixed by either only checking for files that already
are on the XML for that major, or by adding the major for all versions.

[2014-10-27 21:38] #2 closed, assigned to nobody

[2014-10-27 21:38] #1 closed, assigned to nobody

[2015-04-28 08:32] darryllane opened #6 "Drupal Scan Issue"
installed via pip and attempted to execute a druapl scan. Presented with the following output:

droopescan scan drupal --url (url removed)
Traceback (most recent call last):
  File "./droopescan", line 9, in <module>
    droopescan.main()
  File "/root/Scripts/droopescan/dscan/droopescan.py", line 46, in main
    ds.run()
  File "/usr/local/lib/python2.7/dist-packages/cement/core/foundation.py", l

[2015-05-17 21:11] droope commented on #6
Hi Darryl,

I am sorry about the delay with the response! Somehow this didn't make it into my inbox.

It is an issue with the version of requests installed in Kali. It can be resolved by executing the following command in a root command shell:

<pre>
pip install -U requests
</pre>

Please let me know if this resolves it and I'll close the issue.

Thanks,
Pedro

[2015-05-17 22:56] #6 closed

[2015-05-19 21:09] droope commented on #6
Hi @darryllane,

Let me know if this does not resolve the issue for you. You can update droopescan by executing:

<pre>
pip install -U droopescan
</pre>

In the future I may do some more Kali testing, there's definitely a wide range of people using it.

Ta,
Pedro

[2015-05-20 22:38] JohnnyAMD opened #7 "Kali 1.0.1- x64 - droopescan run problem"
Hi, I got installed as follow:

http://www.darknet.org.uk/2015/02/droopescan-plugin-based-cms-security-scanner/

Everything went fine. Now I'm trying to use it and I'm getting the following error message:

"
Traceback (most recent call last):
  File "/usr/local/bin/droopescan", line 9, in <module>
    droopescan.main()
  File "/usr/local/lib/python2.7/dist-packages/dscan/droopescan.py", line 46, i

[2015-05-20 23:26] #7 closed

[2015-05-20 23:29] droope commented on #7
Hi @JohnnyAMD,

Thanks for reporting this.

Who would have thunk, the order of factors does alter the product!

I've fixed it in the latest release. You can get it by running the following command:

<pre>
pip install -U droopescan
</pre>

Ta,
Pedro

[2015-05-20 23:34] JohnnyAMD commented on #7
Awesome. Let's try it.

Have a great day mate.

-Johnny

On Thu, May 21, 2015 at 11:29 AM, Pedro Worcel <notifications@github.com>
wrote:

[2015-08-04 05:57] droope opened #8 "Change of license GPLv2 -> AGPL"
Hello,

After much thought, I've decided that it would be a good idea to use the AGPL licence for droopescan in order to prevent instances of people would modify the code, and provide access to the modified application through a web service without releasing the source code. AGPL is a licence recommended by the FSF, you can read more about it here http://www.affero.org/oagf.html

https://github.co

[2015-09-09 02:26] #8 closed

[2015-11-12 19:47] adewinne opened #9 "drupal module detection"
I've scanned 4 drupal sites, and out of all four there has only been one hit of modules (features). Is that the expected output, or should I be seeing many more module hits?

[2015-11-12 22:12] droope commented on #9
Hi adewinne,

It's hard to say without knowing what is installed on the sites. I understand that it would be hard to publish the URLs of the sites you are testing, but you could perhaps retry with `--debug-requests`. This will give you a detailed output of each request droopescan is doing, and you can see if there are clear modules there which droopescan is missing.

Normally, I would expect other

[2015-12-16 01:35] droope commented on #9
Hey @adewinne,

I imagine you've gotten this sorted now, I'll close the issue. If you still have issues please feel free to reopen it.

Ta,
Pedro

[2015-12-16 01:35] #9 closed

[2016-12-30 21:21] BustedSec opened #13 "post install requirements"
after installing I had to run
easy_install cement
and
easy_install pystache

[2017-01-03 22:06] diego-treitos commented on #13
adding to post install requirements: `/usr/local/bin/droopescan` does not have execution permissions after installing with `pip`

[2017-01-04 07:47] droope commented on #13
hi @diego-treitos, what version of linux are you using? I had similar issues with debian testing, I'll look into it when I have some time

[2017-01-04 07:49] droope commented on #13
Hi @BustedSec , how did you install droopescan? Was it by a regular pip install?

Those requirements are in the current setup.py, but I am guessing that they didn't install for you for some unknown reason.

[2017-01-21 11:26] 3xp10it opened #14 "timeout issue"
Every time I run:
 droopescan scan drupal -u http://www.drupal.fr -t 8

I will get a timeout error like below,is there something?

modules [============================================       ] 627/700 (89%)
Traceback (most recent call last):
    File "/usr/local/lib/python3.5/dist-packages/requests/packages/urllib3/connectionpool.py", line 594, in
    urlopen
    chunked=chunked)
    File "/usr/lo

[2017-01-22 22:55] droope commented on #14
你好 @3xp10it

I can't reproduce that issue with that site. I think it may be due to the connection being unreliable between you and the target site. It is related to #10 in the sense that droopescan could raise that as a warning instead of a fatal exception, although that would make scans less reliable.

[2017-01-27 04:39] blshkv opened #15 "unable to detect exact version"
I've got the following output:
[code]
However, the first line of the CHANGELOG.txt clearly indicate:
[code]

Please fix the tool

[2017-01-27 04:41] blshkv opened #16 "unable to detect Drupal plugins"
I'm using the latest git (409f9ba3f101fa2e84caecaa1ddf6f693e52399c) and the output of the tool is below:
[code]

I have admin access to the Drupal CMS and there are about 100 modules installed and the following 4 (as an example) are not up to date:
[code]

[2017-03-06 00:52] droope commented on #16
Hi there,

Can you provide either of the following?

* The URL for the site? Can be over email at pedro@worcel.com but I understand if you can't.
* A directory listing of sites/all/modules?
* The output of a droopescan run with `--debug-requests`?

Sorry about the late response.

[2017-03-06 00:54] droope commented on #15
Hi there,

The tool uses CHANGELOG.txt to aid in fingerprinting, but in certain cases ignores that data in order to prevent false positives.

If you can provide a run with `--debug-requests` that would help me reproduce the issue, I am happy to resolve it if you provide enough information.

[2017-03-12 15:18] blshkv commented on #15
Hi, my test server has been removed unfortunately, I'm unable to verify it.
But I'm sure it's a trivial task and you have tested against any other server (https://www.drupal.org/CHANGELOG.txt)

[2017-03-12 15:18] #15 closed

[2017-03-12 15:30] blshkv commented on #16
Hi, I have tried the latest version (a0f56b88fd4895c3de6b969fb89a9b2e27943e5b) and it detected 2 plugins:

[code]
So I guess the issue is fixed.

Sorry, I'm unable to provide more info as I don't have an admin access anymore.

[2017-03-12 15:30] #16 closed

[2017-03-12 21:13] droope commented on #16
Hey

Thanks for closing the issue. Sometimes there are issues with detection, but hopefully that won't happen to you again. Next time if you can provide even a censored version of `--debug-requests` I'll have a look into it and see what's up.

Ta,
Pedro

[2017-03-12 21:14] droope commented on #15
Yeap works against drupal.org, it was due to the versions.xml file being out of date but its fixed now.

[2017-03-17 00:43] droope commented on #14
hi @3xp10it, I'll close this issue pending more information, pls let me know if you have any more issues.

[2017-03-17 00:43] #14 closed

[2017-03-17 00:43] droope commented on #13
Hey, closing pending more information, lemme know if you guys manage to reproduce again.

[2017-03-17 00:43] #13 closed

[2017-03-17 04:09] 3xp10it commented on #14
no,thx.

[2017-03-22 23:51] mikkeschiren opened #18 "drupal.py need to look into default d8 path"
In drupal.py we have:
[code]

It should also look into modules folder for d8-sittes - that is default place to add modules in d8.

[2017-03-26 21:46] droope commented on #18
Hey,

This sounds good. There are some docs for the new feature [here](https://www.drupal.org/docs/8/creating-custom-modules/naming-and-placing-your-drupal-8-module):

<pre>
Previous Drupal versions demanded custom modules to be located in /sites/all/modules as the core modules were located in /modules. However, in Drupal 8 /modules is now freed up for your custom and contributed modules. All core

[2017-06-18 02:21] #18 closed

[2017-06-18 02:22] droope commented on #18
I resolved this issue in droopescan 1.37.0. If you have the time to test it works I'd appreciate your testing.

[2017-08-28 18:13] thEpisode opened #19 "Fail with http://IP"
Hi, first of all your tool is awesome!.

I use Droopescan with url and works perfectly but when I try to use their IP the tool crash:

* URL: supresencia.com, 54.200.205.140
* OS: Ubuntu Server 16.04 x64
* Installation: PIP and manual (git clone...)
* Success command : ./droopescan scan -u supresencia.com --output json
* Fail command: ./droopescan scan -u http://54.200.205.140 --output json
* Outp

[2017-08-28 18:38] thEpisode commented on #19
Reverse Proxy detect, sorry 😄

[2017-08-28 18:38] #19 closed

[2017-08-29 00:13] droope commented on #19
All good! lemme know if you have any other issues.

[2017-08-29 20:15] thEpisode opened #20 "Missing 'Site identified as *' in JSON output"
Hi, I'm using JSON output to automate some tasks, but comparing results in JSON output can't show anywhere the flag '[+] Site identified as joomla.'. Thanks.

* URL for site: konradlorenz.edu.co
* OS & installation method: Ubuntu Server 16.04, pip and git clone
* Working command used:  ./droopescan scan -u konradlorenz.edu.co --debug-requests
* Not working command used: ./droopescan scan -u konrad

[2017-08-29 20:54] thEpisode opened #21 "When website isn't available crash"
Hi, I'm trying to test a site in developing mode, sometimes this is unavailable without any advertise. When I run Droopescan this crash, I think is a try-catch in the code. And JSON result isn't showed

* Output of run with `--debug-requests`:
[head] http://localhost:3000/ None FAILED (<class 'requests.exceptions.ConnectionError'>: HTTPConnectionPool(host='localhost', port=3000): Max retries excee

[2017-09-03 09:17] droope commented on #20
Hi, I will look into this

[2017-09-07 19:30] droope commented on #20
Hi, I can verify your results, and I will implement a fix. In the meantime, you can use the following as a workaround, writing to a file and using the url file parameter.

<pre>
[root@debian-dev droopescan (development)]# echo site.edu.co > /tmp/a
[root@debian-dev droopescan (development)]# ./droopescan scan -U /tmp/a --output json -e v
{"host": "('http://www.site.edu.co/', None)", "version": {"is

[2017-09-07 21:05] droope commented on #20
I've created and uploaded version 1.38.0 which resolves this issue. You can upgrade with `pip install -U droopescan`

[2017-09-07 21:05] #20 closed

[2017-09-07 21:08] droope commented on #21
Hi there,

This crash is consistent with droopescan's current design parameters: on scanning multiple sites, errors are silently ignored and when scanning an individual site errors result in a fatal error.

I plan a re-work of json output in the future and I can see the value in your suggestion for future releases.

Thanks,
Pedro

[2017-09-07 21:08] #21 closed

[2017-09-07 22:42] thEpisode commented on #20
Thank you so much, I will try in a few hours 😄

[2017-09-07 22:44] thEpisode commented on #21
I understand, thank you so much

[2017-09-07 22:57] thEpisode commented on #20
I can't wait jaja 😆 I tried with different CMS and works perfect

[2018-01-11 09:37] NicolasSchn opened #22 "Bug requests.exceptions.ConnectionError"
Hello,
I use Droopescan in parallel with the multiprocessing library, but I get this error message during execution:

File "/usr/local/bin/droopescan", line 5, in <module>
    droopescan.main()
  File "/usr/local/lib/python2.7/dist-packages/dscan/droopescan.py", line 55, in main
    ds.run()
  File "/usr/local/lib/python2.7/dist-packages/cement/core/foundation.py", line 764, in run
    self.contro

[2018-01-15 04:47] droope commented on #22
Hi there,

In general this error occurs when you connect to a host with a port that is open (i.e. you can establish a TCP connection to it) but doesn't send anything in response to a TCP connect.

If that's not the case, let me know and I'll have a look.

[2018-01-26 13:44] JulienD opened #23 "Installing requirements aside the project"
I try to install droopescan and I want to package all pip dependencies in the same directory. Instead of running the default _pip install_ command I speficied a location, however droopescan does not work anymore. I don't have all access to the server where I will deploy droopescan and I need to package everything in my app. Is there a way to achieve that ?

I'm using Python 2.7.6

Thanks

[code]

[2018-02-27 21:11] droope commented on #23
Hi there,

I'm not sure how to help you with this use case. If you have any particular suggestions I'm happy to look into it or accept pull requests provided they don't break anything.

Have you looked into virtualenv? That may be a possible solution for you.

[2018-02-27 21:12] droope commented on #22
Hi there,

I assume you're all good with this now, if the issue persists let me know and I'll reopen the issue.

[2018-02-27 21:12] #22 closed

[2018-03-29 09:59] wavesailor opened #26 "Not working after installing via your instructions"
Hi,
I installed as per you instructions on Ubuntu 16.04.4 LTS:
`sudo apt-get install python-pip`
`pip install droopescan`

It installed fine except for a warning:
`You are using pip version 8.1.1, however version 9.0.3 is available.`
`You should consider upgrading via the 'pip install --upgrade pip' command.`

I then run the command as per your instructions but get the following error:
`myuser@myS

[2018-04-20 06:13] droope commented on #26
Hmm. What version of Debian are you using? can you run the following commands and paste the output here?

[code]

[2018-04-20 06:14] droope commented on #23
Hey there, closing this in the meantime. Let me know if you still have this issue and I'll reopen.

[2018-04-20 06:14] #23 closed

[2018-04-20 10:56] wavesailor commented on #26
Seems it's not installed where @droope thinks it should be.

[code]

[code]

[code]

[code]

[code]

[code]

[2018-04-20 22:04] droope commented on #26
I am not 100% sure at this stage how droopescan ended there. It seems that this is a new systemd feature. https://unix.stackexchange.com/questions/316765/which-distributions-have-home-local-bin-in-path

In the meantime adding `/home/wavesailor/.local/bin` to your $PATH will help you, and make droopescan executable.

Add the following to your `~/.bashrc` file:

[code]

and then run

[code]

[2018-05-03 12:06] wavesailor commented on #26
After following your directions above, I got it to work.
Thanks.

[2018-05-04 09:09] gottburgm opened #30 "Typo3 support"
Hello,

Are you interested into adding TYPO3 CMS support ? we can work together on it, already implemented it in my own tool in Perl so i have most of the basics stuff

[2018-05-06 06:52] droope commented on #30
Hi!

I am definitely willing to accept a PR for Typo3, the main requirement would be for the automatic version updating to be implemented, using the update_version_check, update_version, update_plugins_check and update_plugins functions. There's some more info here, although docs are not 100% at the moment: update_version_check, update_version, update_plugins_check and update_plugins

[2018-05-07 15:00] gottburgm commented on #30
As soon as i got more time i will take a look more deeper into the code and keep you aware by writting here ! :)

[2018-05-23 15:56] wavesailor opened #31 "Does not correctly identify this site"
Been using on a number of sites lately and works great - Thanks

I came across the Wordpress site that droopescan could not identify.

* URL for site: www.example.co.za

Not sure how I could help debug it further?

-

[2018-05-23 19:59] droope commented on #31
Hi there,

Glad to hear it generally works, appreciate the feedback. In general, when sites don't work it is because they are doing something weird, like returning 500 responses for known wordpress files and things like that.

If you would like, you could run it with the `--debug-requests` parameter to verify.

[2018-05-28 11:15] wavesailor commented on #31
Hi,

Thanks I did try that but it seem to run better with theses options:
[code]

## Different Error
I came across this **error** on this site: `droopescan scan  -u gourmetgrubb.com --debug-requests`

[code]

[2018-05-28 22:26] droope commented on #31
That error happens when the server does not respond to the request with a valid HTTP response. It may be a WAF or another issue.

Just to confirm, do you have authorisation to test these sites? I've removed the URLs from the post. Of course scanning websites using droopescan is illegal and droopescan can only be used with the authorisation of the targeted website.

[2018-05-28 22:33] droope commented on #26
Closing the issue as there is a workaround in place and debian testing is not my biggest priority at the moment. If the issue is present on the stable version of debian please reopen and I'll patch setup.py to account for the new binary location.

[2018-05-28 22:33] #26 closed

[2018-05-28 22:33] #31 closed

[2018-08-11 19:13] mathewmarcus opened #32 "Drupalgeddon2 not detected"
I'm running `droopescan`, against Vulnhub's [VulnOS: 2](https://www.vulnhub.com/entry/vulnos-2,147/), which has a known Drupalgeddon2 vulnerability (verified by running the Metasploit module [exploit/unix/webapp/drupal_drupalgeddon2](https://www.rapid7.com/db/modules/exploit/unix/webapp/drupal_drupalgeddon2)).

However, based on the below output, `droopescan` does not appear to detect Drupalgeddon

[2018-08-13 15:13] mathewmarcus commented on #32
Ah gotcha, that makes sense. And yeah, I think maybe an additional sentence could be beneficial. Thanks!

[2018-08-13 15:13] #32 closed

[2018-10-14 18:38] mAshraf9 opened #33 "droopescan does not run on Windows"
I got this error when I try to install droopescan with pip or i use python setup.py install

**raise ValueError, "path '%s' cannot be absolute" % pathname
ValueError: path '/etc/bash_completion.d/' cannot be absolutePlease include:**

[2018-10-15 23:18] droope commented on #30
Temporarilly closing this one, feel free to reopen or push a PR. I may have some free time to improve droopescan soon but I think I will be looking into wordpress which has some teething issues.

[2018-10-15 23:18] #30 closed

[2018-10-16 08:42] mAshraf9 commented on #33
OS: Windows 10
python : 2.7 or 3.x both tested.
Here is the trace:
**...\droopescan\droopescan-master>python setup.py install
running install
running build
running build_py
running egg_info
writing requirements to droopescan.egg-info\requires.txt
writing droopescan.egg-info\PKG-INFO
writing top-level names to droopescan.egg-info\top_level.txt
writing dependency_links to droopescan.egg-info\depende

[2018-10-18 02:07] droope commented on #33
hi @mAshraf9 ,

At the moment running droopescan in Windows is not supported. I would personally install Kali in a VM and run it there.

I would like to investigate more on whether it can be easily ported. I suspect this particular issue can be resolved by commenting line 52 in setup.py with no side effects, but I am unsure on how the rest of droopescan is going to behave.

If you can try that and

[2018-10-18 15:32] mAshraf9 commented on #33
Hi @droope
commenting out that line worked and also installing droopescan from python package sites worked without errors. but i tried to use the tool and didn't worked! Here is what I did:

**Installing collected packages: droopescan
  Found existing installation: droopescan 1.41.1
    Uninstalling droopescan-1.41.1:
      Successfully uninstalled droopescan-1.41.1
  Running setup.py install for

[2019-02-17 07:48] blshkv opened #36 "update version in the code"
I have installed the latest version, however the scanner displays ```v1.33.7``` during runtime

[2019-03-18 21:44] mykey commented on #33
Just a suggestion that might help somebody out. Droopescan works great on (the very minimal) Kali in Windows Subsystem for Linux.

[2019-04-01 17:45] masterwebsk commented on #36
The same issue, but, after check I see also outdated versions (at least for Drupal)

`# droopescan stats`

v1.33.7

Functionality available for 'drupal':
- Enumerate plugins (2000 plugins.)
- Enumerate themes (2000 themes.)
- Enumerate interesting urls (2 urls.)
- Enumerate version (up to version 8.6.9, 7.64, 6.38.)

Versions should be 8.6.13, 7.65

Trying to update:

`# pip install -U droopescan`

[2019-04-01 23:25] droope commented on #36
Hi @blshkv ,

It always report 1.3.37 because it is hard-coded [here](https://github.com/droope/droopescan/blob/bebcc39d9ed31513f1dbe49b7e20604b4ebe25ad/dscan/common/functions.py#L217). This is because I had an issue where the tool became completely broken because the code that attempted to read the version wasn't able to read the changelog.

I would consider a PR for this if you provide one, othe

[2019-04-01 23:28] droope commented on #36
hi @masterwebsk

This occurs because a couple of new drupal versions have been released and I haven't been able to implement a new hash for them. I will do my best to get this updated asap however at the moment I am super swamped so a PR would be better if you're in a hurry.

droopescan has the ability to update itself, you'd need to clone the master branch of the repo and then run `./droopescan u

[2019-04-01 23:30] droope commented on #33
That's great to hear! I wonder if that would work for @mAshraf9, you can install Kali WSL from the windows app store. I expect it also runs well in Windows WSL.

@mAshraf9 if this resolves the issue for you I'll close it.

Thansks,
Pedro

[2019-04-02 02:29] blshkv commented on #36
@droope thank you for your replies. How about go KISS, hardcode the correct version and update it every time if you can't find a better solution?

BTW, We (at Pentoo) install all tools as system-wide package and expect users to run them under regular account (if possible), that means self-update feature will not work. In fact, we do not allow to update tools itself (such as binaries, configuration

[2019-05-30 20:53] droope commented on #36
hi @blshkv

Thanks for your feedback! I'll definitely keep in mind the idea of hard-coding the version. At the moment I use release scripts that don't take the version into account, but I will consider the option in the future.

Thanks!
Pedro

[2019-06-15 09:27] droope commented on #33
Closing this one, let me know if you need any more info.

[2019-06-15 09:27] #33 closed

[2019-09-03 15:36] A-AFTAHI opened #39 "Python error"
Hi,
I run droopescan a website for testing and i got the following error:

droopescan scan drupal -u https://www.website.ma (this is not the exact URL)
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/requests/packages/urllib3/connection.py", line 141, in _new_conn
    (self.host, self.port), self.timeout, **extra_kw)
  File "/usr/local/lib/python3.7/dist-packages/

[2019-09-04 00:12] droope commented on #39
hi @A-AFTAHI

The "Name or service not known" error usually indicates that the Kali instance you are running cannot resolve the domain name in the URL you provided. This could happen for example if you are running in a virtual machine and networking is set to "host-only" or something similar.

Can you please provide for me the output of a `dnslookup` for the domain you are tryign to reach?

[code]

[2019-11-19 10:57] droope commented on #39
Closing for now.

 Let me know if this is still an issue.

[2019-11-19 10:57] #39 closed

[2020-01-06 19:58] elogada opened #40 "[feature] User agent swap"
Hey @droope

Either there's no way to change my `User-agent` header, or I can't find it in the help docs. Any way you can add a functionality that allows me to change the `User-agent` of a scan?

Thanks!

[2020-01-06 20:07] droope commented on #40
Hi there,

I'd be willing to accept a PR for this change provided it comes with a unit test. The change would have to occur on [this line](https://github.com/droope/droopescan/blob/424c48a0f9d12b4536dbef5a786f0fbd4ce9519a/dscan/plugins/internal/base_plugin_internal.py#L268).

Alternatively you can clone the repository and manually modify the DEFAULT_UA variable for your purposes.

Thanks!
Pedro

[2020-02-11 21:16] noraj opened #41 "Inventory notification"
droopescan has been inventoried on [*Rawsec's CyberSecurity Inventory*](https://inventory.rawsec.ml/).

https://inventory.rawsec.ml/tools.html#droopescan

### What is Rawsec's CyberSecurity Inventory?

An inventory of tools and resources about CyberSecurity. This inventory aims to help people to find everything related to CyberSecurity.

![](https://i.imgur.com/iLNgnlz.png)

More details about fea

[2020-02-12 18:04] droope commented on #41
Hi!

Thanks for the notification! I'll close per your request.

Thanks,
Pedro

[2020-02-12 18:04] #41 closed

[2020-04-16 09:12] sogewasp opened #42 "Failed to parse url"
Droopescan is throwing an error no matter which url I'm using.
I'm running Kali Rolling and installed via pip.

Here's the error :

[code]

What am I doing wrong ?

[2020-04-16 09:15] sogewasp commented on #42
Other debug info that might be useful:

[code]

[2020-04-20 09:05] droope commented on #42
This is concerning. :\

However I cannot reproduce on my end:

[code]

It could be related to a dependency version but I am not sure I can assist with the triaging of this issue. Worst case scenario this is a breaking change on one of the droopescan dependencies and it will affect all users of the tool, I will leave the issue open pending more information.

[2020-04-20 22:59] sogewasp commented on #42
Yes, it was a dependencies problem. I had some issues installing them with pip.

After installing them with `pip install -r requirements.txt` I somehow had :

[code]

So I just reinstalled all from scratch and it worked...
[code]

I can't quite tell what went wrong as I don't have the logs of when I installed the requirements the first time...

[2020-04-29 08:03] droope commented on #42
Great to hear the issue is resolved for you.

I'll close in the meantime and let me know if you have any more issues.

[2020-04-29 08:03] #42 closed

[2020-06-17 01:10] droope commented on #36
I've given this more thought and after thinking about it hard-coding the version would cause more issues that it would solve, because even though I am as thorough as I can when releasing new versions I can be liable to forget to update the code as it is.

I think the proper solution is to either

a) update the release script so that it modifies the version, or
b) update the function that displays

[2020-06-28 03:08] droope commented on #40
Just so anybody who needs this knows, @kieran-github has implemented this feature into the development branch.

I will give it a test when I can and merge it into master, as well as release it into PyPi.

[2020-08-11 23:34] #40 closed

[2020-10-28 20:28] mbomb007 opened #46 "Drupal: Improvement Request"
I noticed that for module enumeration you only check for .txt files.

- Many modules use markdown files, such as README.md.
- You could also enumerate libraries and custom modules the same way, I think.
- The [Advanced Help](https://www.drupal.org/project/advanced_help) module makes README's available at another path, so you could check `/help/%s/README.[txt|md]`.

Some of this being used practica

[2020-10-28 22:05] droope commented on #46
hi @mbomb007

Lots of good feedback.

1. Adding readme.md to the module enumeration interesting url enumeration should be trivial, changes required [here](https://github.com/droope/droopescan/blob/master/dscan/plugins/drupal.py#L29).
2. I chose `LICENSE.txt` as the default module file because I think it's the most commonly found file based on my research. If you think otherwise please let me know.

[2020-10-28 22:09] mbomb007 commented on #46
I don't know anything about drupalxray, by the way. I didn't know it used droopescan, but I saw it was similar.

[2020-11-02 21:38] mbomb007 commented on #46
I looked at LICENSE.txt, and it's very common, for sure.

Just a thought: could you detect the first "hit" (checking first by plugin, then by path) and then assume that each type of plugin isn't stored in more than one path? Then, you could stop checking so many paths once you found a valid one.

Or maybe, find a known module, then try multiple possible paths for all of its interesting files, then

[2020-11-02 22:13] droope commented on #46
The problem for those assumptions is that we don't know if they'll hold true honestly. In my experience scanning CMS all assumptions about how an installation of a CMS will be broken by developers for one reason or another. For example, they may accidentally install the plugin in two folders, or things like that.

Thinking about it more, 3000 additional requests don't really sound like a lot, espe

[2020-11-03 00:47] droope commented on #46
Merged your other commit, I tested it and it found some README.md files that it would have missed otherwise, nice work.

[2020-11-29 22:04] droope commented on #46
I think this is good to close right? If not let me know and I'll reopen.

Thanks!
Pedro

[2020-11-29 22:04] #46 closed

[2020-11-30 15:48] mbomb007 commented on #46
Yeah, good to close. I'm not actively using the project, so if someone else really wants the additional improvements I thought of, they can submit a pull request.

[2021-04-05 15:18] pr0b3r7 opened #51 "Droopescan can't find cement dependency unless ran with python3"
root@kali$:./droopescan scan --help                                                  11:05:57
Traceback (most recent call last):
  File "./droopescan", line 3, in <module>
    from dscan import droopescan
  File "/opt/droopescan/dscan/droopescan.py", line 4, in <module>
    from cement.core import backend, foundation, controller, handler
ImportError: No module named cement.core

![image](https://u

[2021-04-23 04:30] urbanadventurer opened #52 "🐞 False positive detection due to incorrect error handling"
## Problem

When HTTP connections fail droopescan reports the test as a positive result, e.g. it found a module.

5 GET requests to detect modules, such as the following, timed out without a response. These are displayed in the output as found.

```GET /sites/default/modules/content_glider/content_glider.module HTTP/1.1```

## Recommendation
If the connection fails it should retry for a set number

[2021-04-27 01:57] droope commented on #52
Hi.

Thanks for creating this issue. Seems like a very annoying bug. I will look
into this as soon as I can, but I can't provide an ETA because I'm very
busy these days.

Does this issue occur only with the modules? If so that may be helpful in
locating the bug.

Thanks!
Pedro

El vie, 23 abr 2021 a las 16:30, Andrew Horton ***@***.***>)
escribió:

[2021-04-27 02:17] urbanadventurer commented on #52
I was affected by the issue with Modules but it could probably affects all types of scans.

[2021-04-29 22:30] droope commented on #52
Hi Andrew,

I am looking at your ticket again and I see that you are using a third-party tool. I have never used drupwn so I am not familiar with it nor do I maintain it.

Your suggestion to retry multiple times is already implemented by the underlying HTTP library, and specific exceptions are already handled, and a [warning is placed to stdout](https://github.com/droope/droopescan/blob/b6ffc38cbd

[2021-04-30 06:07] urbanadventurer commented on #52
Sorry @droope that was my mistake. I was testing two tools at the same time, droopscan and drupwn. I incorrectly submitted this bug to your page.

[2021-04-30 06:07] #52 closed

[2021-05-20 02:54] droope commented on #51
Hi Robert,

Sorry for taking a little while in getting back to you on this one. It is a little bit mysterious because it seems to install properly but then it seems that it's not found.

I generally run my unit tests with Python 2 and 3, but haven't done a fresh install of droopescan in a while. I wonder if it is related to the deprecation of Python 2. I am unsure whether there are a lot of people

[2021-06-05 14:31] NorthShad0w commented on #51
kali use command _python3_ to execute python version 3 script.
And use command _python_ to execute python version 2 script.
For kali user:
just edit first line in droopescan from **#!/usr/bin/env python** to **#!/usr/env/python3**

[2021-06-07 21:10] droope commented on #51
Hmm. I feel like this will be a breaking change in the sense that it will break support with Python 2 users.

But Kali is one of the biggest users of droopescan. I'll have a think.

[2021-06-07 21:44] droope commented on #51
Hi @NorthShad0w @pr0b3r7

I released a new version which solves this.

Can you please confirm the fix? You can update by running `pip install -U droopescan`

[2021-06-07 22:37] droope commented on #51
I'm going to reopen the issue until you have confirmed the fix. I'm concerned that I may have introduced issues with this change, but I can't see any problems on my end.

[2021-06-08 05:41] NorthShad0w commented on #51
It works fine in my computer.

[2021-06-08 21:11] droope commented on #51
Sweet, thank you! I appreciate it.

[2021-06-08 21:11] #51 closed

[2021-06-27 09:38] Tzion0 opened #53 "Add Specific Header in request"
Hi, may i know how i add specific header in all the request? Example:
```Authorization: xxxx```

[2021-06-27 21:31] droope commented on #53
Hi.

The best way to do this currently is to configure an upstream proxy as [documented here](https://github.com/droope/droopescan/#authentication). You could then use mitmproxy for example and create a custom addon that does this like [http-add-header.py](https://docs.mitmproxy.org/stable/addons-examples/#http-add-header).

All requests issued by droopescan are issued from a single `Session` obje

[2021-06-28 05:53] Tzion0 commented on #53
Sorry, i wish i could help, but i'm not that good in coding. Besides, may i know the detail steps of configure the upstream proxy? I don't understand the documentation... Thank you in advance

[2021-06-28 22:34] droope commented on #53
Hi there,

Basically you:

1. Configure droopescan to use a proxy using http_proxy variables. More info [here](https://www.putorius.net/how-to-set-httpproxy-variable-in-linux.html#:~:text=The%20http_proxy%20variable%20tells%20the,to%20update%20you%20Linux%20system).).
2. Configure burp to add the required header

Let me know if this works for you, or what particular step you need help with.

Thank

[2021-06-29 01:44] Tzion0 commented on #53
Hi, i do exactly the same step but this time worked! Thank you !

[2021-06-29 01:44] #53 closed

[2021-07-30 15:38] greggmarshall opened #54 "Update for Drupal 9?"
This has been a fun project to discover.

It would appear the latest version of Drupal 9 that was fingerprinted is 9.2.0-rc1, even though "droopescan stats" only shows 9.2.0-beta3.  Since then 9.2.0, 9.2.1 and 9.2.2 have been released.  I presume there are additional releases in the other Drupal branches given 9.2.2 was a security release.

Any timescale on when an update to support them might be

[2021-07-30 20:20] droope commented on #54
Hi

I won’t be able to do this in the next couple of days. The update mechanism
in droopescan however can be used by anyone and if it’s urgent you can run
it

./droopescan update —help

This will clone drupal and attempt to extract the hashes. Let me know what
you think

On Sat, 31 Jul 2021 at 3:38 AM, Gregg Marshall ***@***.***>
wrote:

[2021-07-31 21:25] greggmarshall commented on #54
Thanks for that hint.

What came for help was a bit confusing, so I tried a simple droopescan update to see what would happen.  I almost immediately got a "NameError: name 'BeautifulSoup' is not defined" error.  Not having time, I haven't really looked into it.

[2021-07-31 21:44] droope commented on #54
Yeah it’s only meant to be run by maintainers. You need to install the dev
dependencies:

pip install -r requirements_test.txt

lmk how that goes

On Sun, 1 Aug 2021 at 9:25 AM, Gregg Marshall ***@***.***>
wrote:

[2021-08-06 01:06] droope commented on #54
Hi

I have released version 1.45.1 that resolves this issue.

Thank you for the heads up!

[2021-08-06 01:06] #54 closed

[2021-08-06 01:31] greggmarshall commented on #54
Thank you!

[2021-09-20 17:33] indhu85 opened #55 "How to add authentication for Drupal Scanning site?"
Hi,

How to add authentication to scanning drupal website?

For eg:

python droopescan/droopescan scan drupal -u https://www.XXXXXXXXXXX.org/user/ --output json -e p

Its returns as "The site is not running Drupal"

Anyone share me the steps to authenticate into drupal website in droopescan.

[2021-09-20 21:46] SamJoan commented on #55
hi @indhu85,

There's a section on authentication on the README, but I'm not sure that will help you in this case. I would try removing `/user/` from the URL, e.g. `https://www.xxxxxxxxxxx.org/` instead of `https://www.xxxxxxxxxxx.org/user/`.

If you're still having issues, please provide the output for the site with the `--debug-requests` command line flag and I'll have a look for you.

Thanks,
S

[2021-09-22 15:30] indhu85 commented on #55
Hi @SamJoan,

Without "user" in the URL, I can able to get list of modules and themes.

1. Is droopescan not using authentication to get these list(modules and themes) from secured drupal website?
2. Is the list contain only active modules or it include inactive modules also?
3. Is there any method in droopescan to export a configuration used in website

Thanks,
@indhu85

[2021-09-26 02:21] SamJoan commented on #55
Hi,

droopescan does indeed not use authentication to identify list of modules and themes. The way these are identified is through wordlists and bruteforcing URLs. For example, droopescan may perform a request to sites/all/modules/cktoolkit and observe whether a HTTP 200 response is detected.

The wordlist that is used is obtained from each CMS' addon download page. I refresh this annually approxi

[2021-10-04 09:43] indhu85 commented on #55
Hi @SamJoan ,

Is the returned droopescan plugin list contains only active modules or it include inactive(disabled) modules also?

[2021-10-04 20:11] SamJoan commented on #55
I would have to look into this but I believe that `droopescan` returns both active and inactive plugins.

[2022-01-05 08:19] salooali opened #56 "How could you save the ouput of the scan in standard format(human readable)"
Hey, I just wanted to know that how could I store the results? I know by using the redirection operator but with that, you can't save the human-readable output format. kindly let me know if there is any other way...! Thanks

[2022-01-08 23:54] SamJoan commented on #56
hi @salooali

The output section of the readme has some information, did you check that out?

https://github.com/SamJoan/droopescan#output

Let me know if that is enough, or what issues in particular there are to save the human-readable output format. If you want to strip the colors from stdout you can try something like what is proposed here: https://superuser.com/questions/380772/removing-ansi-c

[2022-01-14 13:18] masterwireshark opened #57 "An errors occurs while scanning a file not detecting"
I installed by using pip & manually cloning both have same type of error.

droopescan scan --help **command works**.

While using **command not works** ( **droopescan scan drupal -u https://url/** )

It gives following **error** without executing :-

**[+] Known drupal folders have returned 404 Not found. If a module does not have a LICENSE.txt file it will not be detected**.

Can anyone explain w

[2022-01-16 21:48] SamJoan commented on #57
hi @masterwireshark

Thanks for filing an issue.

I can definitely explain why this warning message occurs. We generally identify known modules by making an HTTP request to a particular URL at which we presume a module may be present. For example /sites/all/modules/module_name/. Before sending thousands of requests in this manner however, `droopescan` checks whether the target server is configured

[2022-01-17 17:39] salooali commented on #56
Yeah for now I've done a similar thing saving the output without colors. But for making it more readable and presentable
I would suggest you make its output in HTML report. Like some wrote a tool for wpscan output to convert into HTML
https://github.com/tristanlatr/wpscan_out_parse

[2022-01-17 21:17] SamJoan commented on #56
Hi @salooali

Thank you for your suggestion. At this stage I don't intend to implement this feature because I don't have the free time to do it, although I would have enough time to accept a pull request if contains unit tests and abides by the collaboration guidelines in the readme.

In the meantime you can convert the cli output to HTML using aha. https://stackoverflow.com/questions/245121/a-lib

[2022-01-18 21:02] salooali commented on #56
Hi @SamJoan
Thank you for your suggested tool for now It's really very helpful for me.
Sure I'll try to resolve this issue in my free time.

[2022-01-20 04:33] salooali opened #58 "A strange Error shows up and modules didn't get completed."
I'm running a droopescan in a bash script. I've also tested it without a script the error is still showing up. I have a large list of hosts to scan can u please give me a hint if you have any clue why does this error occurs. I want to resolve it ASAP:
command:  droopescan scan drupal -u academy.neduet.edu.pk
[code]

Please include:

* URL for site (if possible)
https://academy.neduet.edu.pk/

* Ou

[2022-05-20 19:50] nandy6666 opened #59 "RecursionError: maximum recursion depth exceeded"
Not able to install droopescan both using pip and sourcecode

`python3 -m pip install droopescan                                                                                                                                         1 ⨯
Defaulting to user installation because normal site-packages is not writeable
Collecting droopescan
  Using cached droopescan-1.45.1-py2.py3-none-any.whl (514 kB)

[2022-05-22 18:22] #57 closed

[2022-05-22 18:24] SamJoan commented on #58
Hi,

I can't really comment on this until you clarify that you have permission to scan this large file of hosts.

[2022-05-22 18:24] #58 closed

[2022-05-22 18:26] SamJoan commented on #59
I tried to make a release for droopescan but my build machine is no more, and pypy no longer supports the distribution method I use. Because I don't have time to fix this and I make no money doing droopescan, its very likely issues like this are going to continue to pop up.

My suggestion is to run droopescan from source, after updating the modules using the automated module updating procedure.

[2022-05-24 14:10] nandy6666 commented on #59
Even installing from the source yields the same error. The issue is coming from pystache installation.

[2022-05-28 18:55] frav1s opened #60 "Trying to Update (TypeError: a bytes-like object is required, not 'str')"
When im trying   'sudo ./droopescan update --update drupal' i have this except:
 for line in tags_content.split('\n'):
TypeError: a bytes-like object is required, not 'str'

What's wrong?

[2022-05-29 21:24] SamJoan commented on #60
I would try python 2? I think the update portion of hte code does not support python 3.

Alternatively you can update that to be like tags_content.split(b'\n'), a few more changes like that would be needed and I am happy to accept a merge for that.

[2022-06-20 18:32] #59 closed

[2022-08-22 11:14] Teicu opened #61 "Rate Limit Question"
Hello,

Is there a way to scan a site that only allows me 3 requests per second?

Thank you